.pager

{

    width: 565px;

    height: 20px;

    padding: 0;

    margin-top: 10px;

    padding-top: 10px;

    padding-left: 10px; /*border-radius: 8px; 	-moz-border-radius: 8px;*/
    
    border-radius: 4px;
    
       border-top: 1px solid #E5E5E5;

}

.pager div.short

{

    float: right;

    margin: 0;

    padding: 0;

    margin-right: 10px;

    width: 74px;

}
.pager .search-input { width: 30px;height: 20px; float: left;    margin-top: 5px; border: 1px solid #E5E5E5;}
.pager div.short input

{

    width: 28px;

    height: 18px;

    border: none;

    margin-left: 8px;

    float: left;

}

.pager ul

{

    list-style: none;

    padding: 0;

    margin: 0;

    float: left;

    margin-right: 4px;
    
    width: 200px !important;

}

.pager ul li

{

    display: inline;

    margin-left: 2px;

}

.pager ul li a

{

    text-decoration: none;

    display: inline-table;

    width: 0px;

    height: 0px;

    text-align: center;

    border-radius: 4px;

    -moz-border-radius: 4px;

}



.pager span

{

    margin-left: 4px;

    color: #AFD65A;

    float: left;
    
    font-size: 12px;

}

.pager .btn

{

    display: block;

    width: 20px;
    
    height: 20px;

    text-align: center;

    float: left;

    padding: 0;

    margin: 0;

    margin-left: 4px;
    
    margin-top: 4px;

    cursor: pointer;

    border-radius: 4px;

    -moz-border-radius: 4px;

    -webkit-touch-callout: none;

    -webkit-user-select: none;

    -khtml-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;

    -o-user-select: none;

    user-select: none;

}

.pager .disabled

{

    color: #A0A0A0 !important;

    text-shadow: 1px 1px 1px #FFFFFF;

}

/*green*/.green

{

    background-color: none;

}

.green.normal

{

    /*background-color: #848484;

    color: White;

    border: solid 1px #CCCCCC;*/

}

.green.active

{

  /*  background-color: #B1D76E;*/

    color: #333333;

   /* border: solid 1px #DDDDDD;*/

}

.pager.green .btn

{

   /* background-color: #B1D76E;*/

    color: #333333;

   /* border: solid 1px #5f9000;*/

}

/*black*/.black

{

    background-color: #202020;

}

.black.normal

{

    background-color: #1d1d1d;

    color: #B0D551;

    border: solid 1px #000;

}

.black.active

{

    background-color: #333333;

    color: White;

    border: solid 1px #000;

}

.pager.black .btn

{

    background-color: #1d1d1d;

    color: White;

    border: solid 1px #000;

}

/*red*/.red

{

    background-color: #D50B07;

}

.red.normal

{

    background-color: #E71C18;

    color: White;

    border: solid 1px #F82723;

}

.red.active

{

    background-color: #C00D09;

    color: White;

    border: solid 1px #A90B08;

}

.pager.red .btn

{

    background-color: #E71C18;

    color: White;

    border: solid 1px #F82723;

}
