body {
    margin: 0;
}

div, td, th, tr, thead, tfoot, tbody, caption, table, button, legend, label, form, fieldset, ul, ol, li, dt, dl, dd, var, tt,
sup, sub, strong, strike, small, samp, s, q, img, em, dfn, del, code, cite, address, acronym, abbr, a, pre, blockquote,
p, h6, h5, h4, h3, h2, h1, input, select, textarea {
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-clip: padding-box;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

p {
    margin-bottom: 10px;
}

fieldset {
    padding: 5px;
}

input, select, textarea, button {
    margin: 0;
}

button:focus, button:active {
    outline: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

optgroup {
    font-style: normal;
}

/*
 * Clear Fix
 */
.clear {
    clear: both;
}

/*
 * Improves image quality when scaled in IE7
 */
img {
    -ms-interpolation-mode: bicubic;
}

/*
 * Removes default vertical scrollbar in IE6/7/8/9
 * Improves readability and alignment in all browsers
 */
textarea {
    overflow: auto;
    vertical-align: top;
}

/*
 * Removes inner padding and border in FF3+
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/**
 * Remove IE10's “clear field” X button
 */
::-ms-clear {
    display: none;
}

